<form action="/random/results" data-dashlane-rid="880790b3d4f193dc" data-form-type="other">
  <div>
    <label for="min_input">
      Minimum
    </label>

    <input id="min_input" text="text" name="user_min" placeholder="E.g. 1.5" data-dashlane-rid="866e30b7d705aac3" data-form-type="other">
  </div>

  <div>
    <label for="max_input">
      Maximum
    </label>

    <input id="max_input" text="text" name="user_max" placeholder="E.g. 4.5" data-dashlane-rid="a662c791abe5dcf2" data-form-type="other">
  </div>

  <button data-dashlane-label="true" data-dashlane-rid="7c3b5da75a66e66e" data-form-type="other">
    Pick random number
  </button>
</form>
