<form action="/square/results" class="form">
 <label for="number">Enter a number</label>
 <input type="text" name="digits" id="number" placeholder="What number do you want to take the square of?">
 <button>Calculate square</button>
 </form>
